body{
    background-color: #2FADE0;
}
#container{
    background-color: #FFBC2E;
    border: 5px solid rgb(153, 139, 139);
    width: 500px;
    text-align: center;
    display: block;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    height: 250px;
}
p{
    color: bla;
}
#input{
    width: 100px;
    margin: 25px auto;
}
#btn{
    margin: 25px auto auto 5px;
}